  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-l">
      <svg width="34" height="25" viewBox="0 0 34 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.5 14.5C5.28988 14.9428 7.24921 15.1342 9.5 15.1101M9.5 15.1101C15.0845 15.0503 22.4633 13.6639 33.5 11.5M9.5 15.1101C8.0806 18.7662 7.85656 20.6895 8 24M28 2C26.8512 5.77368 26.3275 7.93255 26 12M0.5 12.5L4.5 2.5C4.30192 16.2967 5.74336 15.9842 11 1.5M9 2.5L16.5 1C9.99494 3.2864 9.43438 6.40666 11 13.5M11 6.5C19.1686 3.80166 19.3527 4.37129 11 9.5C18.2576 9.85209 17.0885 10.641 11 12.5M18 4C18.7266 5.03601 19.4263 6.17932 20.0208 7.29748M20.0208 7.29748C21.3867 9.86676 22.1968 12.3032 21.5 13M20.0208 7.29748C18.5701 8.80273 17.3704 10.5834 16 13M20.0208 7.29748C21.562 5.69826 23.3865 4.4099 26 3M33 1.03724C28.5033 0.855273 25.8702 1.31365 21 3M19.0697 16.039C17.621 26.3085 22.6666 23.7609 23.9985 15.7951C23.4942 19.727 23.0704 22.1515 24.5386 23.0058M26.4118 14.6409C36.3347 12.2353 33 17.1934 29.2353 19.7459M27.8235 15.0664C27.9956 16.4685 27.9136 17.6522 27.5461 18.8951M27.5461 18.8951C27.1124 20.3622 26.2809 21.9116 25 24M27.5461 18.8951C29.2107 21.3318 30.4053 22.2537 33 23.1492M17.0971 20.4809C16.9645 21.2364 16.7135 21.8653 16.3441 22.3678C15.9747 22.8702 15.5259 23.2289 14.9979 23.4438C14.4698 23.6588 13.9003 23.7127 13.2894 23.6055C12.6785 23.4982 12.1613 23.2537 11.738 22.8717C11.3147 22.4897 11.015 21.9997 10.8388 21.4015C10.6625 20.8033 10.6407 20.1265 10.7733 19.371C10.9059 18.6155 11.1569 17.9865 11.5263 17.4841C11.8957 16.9817 12.3445 16.623 12.8725 16.408C13.4006 16.193 13.9701 16.1391 14.581 16.2464C15.1919 16.3536 15.7091 16.5982 16.1324 16.9801C16.5557 17.3621 16.8554 17.8522 17.0316 18.4504C17.2079 19.0485 17.2297 19.7254 17.0971 20.4809ZM16.2577 20.3335C16.3665 19.7133 16.3546 19.1716 16.222 18.7085C16.0917 18.2457 15.8697 17.8739 15.5561 17.5929C15.2448 17.3123 14.8723 17.134 14.4386 17.0578C14.0049 16.9817 13.5927 17.0223 13.2022 17.1797C12.8139 17.3375 12.4786 17.6116 12.1962 18.0019C11.9161 18.3926 11.7216 18.898 11.6127 19.5183C11.5039 20.1385 11.5146 20.68 11.6449 21.1428C11.7775 21.6059 11.9995 21.9778 12.3108 22.2583C12.6244 22.5393 12.9981 22.7179 13.4318 22.794C13.8655 22.8701 14.2765 22.8293 14.6647 22.6715C15.0553 22.5141 15.3906 22.2401 15.6707 21.8494C15.9531 21.4591 16.1488 20.9538 16.2577 20.3335Z" stroke="#2E91ED"/>
        </svg>
      <a href="/posts" class="<%= title=="All Post" ? "active" : "" %>">All Post</a>
      <a href="/posts/new" class="<%= title=="Add Post" ? "active" : "" %>">Add Post</a>
      <a href="/destinations" class="<%= title=="All Destinations" ? "active" : "" %>">Destination</a>
    </div>
    <div class="nav-r">
      <% if (user) { %>
      <a href="/profile/<%= user.profile._id %>">Profile</a>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
    </div>
  </nav>
