<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="profile-left">
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
    <h4><%= profile.name %></h4>
  </div>
  <div class="profile-right">

    <h2><%= isSelf ? "My" : profile.name+"'s" %> Post</h2>
    <% profile.myPost.forEach(post => { %>
      <div>
        <a href="/posts/<%= post._id %>"><%= post.topic %></a>
        <p><%= post.location %></p>
        <p><%= post.date.toISOString().slice(0,10) %></p>
      </div>
    <% }) %>

    <h2><%= isSelf ? "My" : profile.name+"'s" %> Saved Post</h2>
    <% let savedPosts = [...new Set(profile.savedPost)] %>
    <% savedPosts.forEach(post => { %>
      <div>
        <a href="/posts/<%= post._id %>"><%= post.topic %></a>
        <p><%= post.location %></p>
        <p><%= post.date.toISOString().slice(0,10) %></p>
      </div>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
