<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="profile-left">
    <img src="<%= profile.avatar %>" alt="<%= profile.name %>'s avatar">
    <h4><%= profile.name %></h4>
  </div>
  <div class="profile-right">
    <h2>Your Post</h2>
    
  </div>
</main>

<%- include('../partials/footer') %>
