<%- include('../partials/html-head') %> 
  <link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<main>
  <div class="destinations">
    <% destinations.forEach(destination => { %>
    <div class="post">
      <h3><a href="/destinations/<%= destination._id %>"><%= destination.name %></a></h3>
      <div class="discribe">
        <h5><%= destination.location %>, <%= destination.state %></h5>
      </div>
    </div>
    <% }); %>
  </div>
</main>

<%- include('../partials/footer') %>
