<%- include('../partials/html-head') %> 
  <link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<main>
  <div class="destinations">
    <% destinations.forEach(destination => { %>
    <div class="post">
      <h3><a href="/destinations/<%= destination._id %>"><%= destination.name %></a></h3>
      <div class="discribe">
        <h5><%= destination.location %>, <%= destination.state %></h5>
      </div>
    </div>
    <% }); %>
  </div>

  <div class="destination-form">
    <h3>Cannot find your destination!? Create one</h3>
    <form action="/destinations" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name of destination" required>
        <label for="state">State:</label>
        <select name="state" id="state">
            <% states.forEach(state => { %>
             <option value="<%= state %>"><%= state %></option>
            <% }) %>
        </select>
        <button type="submit">Create this Destination</button>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>
