<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/destination.css" />
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<main class="each-destination">
  <h2>Post in <%= destination.name %>, <%= destination.state %></h2>
  <% destination.postOfThisDestination.forEach(post => { %>
    <div class="post">
        <h3><a href="/posts/<%= post._id %>"><%= post.topic %></a></h3>
        
    </div>
  <% }) %>
</main>

<%- include('../partials/footer') %>
