<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/main.css" /> 
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<main>
  <div >
    <form
      class="form"
      action="/posts/<%= posts._id %>/comments/<%= comment._id %>?_method=PUT"
      method="POST"
    >
      
      <div class="QA">
        <label for="content">Content:</label>
        <textarea 
            name="content" 
            id="content" 
            cols="30" 
            rows="10"><%= comment.content %>
        </textarea>
      </div>
      
      <button type="submit">Submit</button>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>
