<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1><%= title %></h1>
<main>
  <% posts.forEach(post => { %>
    <div class="post">
        <h3><a href="/posts/<%= post._id %>"><%= post.topic %></a></h3>
        <img src="<%= post.photo %>" alt="">
        <div class="discribe">
          <h4><%= post.location %></h4>
          <h5><%= post.date %></h5>
        </div>
    </div>
  <% }); %>
</main>

<%- include('../partials/footer') %>
