<%- include('../partials/html-head') %> 
  <link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<h1><%= title %></h1>
<main>
  <div>
    <form action="/posts" method="POST" class="form">
      <div class="QA">
        <label for="topic">Topic:</label>
        <input
          type="text"
          name="topic"
          id="topic"
          placeholder="Add a attractive topic"
          required
        />
      </div>
      <div class="QA">
        <label for="photo">Photo(url):</label>
        <input
          type="text"
          name="photo"
          id="photo"
          placeholder="Link(url) of best photo of this trip"
        />
      </div>
      <div class="QA">
        <label for="location">Location</label>
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Where is the destination"
        />
      </div>
      <div class="QA">
        <label for="state">State:</label>
        <select name="state" id="state">
          <% state.forEach(state => { %>
            <option value="<%= state %>"><%= state %></option>
          <% }) %>
        </select>
          
      </div>
      <div class="QA">
        <label for="content">Content:</label>
        <textarea
          name="content"
          id="content"
          rows="10"
          placeholder="Share something interesting"
        ></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</main>

<%- include('../partials/footer') %>
