<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1><%= title %></h1>
<main>
  <div class="post">
    <h2><%= posts.topic %></h2>
    <h5><%= posts.date %></h5>
    <img src="<%= posts.photo %>" alt="">
    <p><%= posts.content %></p>
    <h4 class="author">Author: <%= posts.author.name %></h4>
    <h4><%= posts.location %></h4>
  </div>
  <% if(posts.author.equals(user?.profile._id)) { %>
    <div>
    <a href="/posts/<%= posts._id %>/edit"><button>
        Edit This Post
    </button></a>
    <form action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete This Post</button>
    </form>
  </div>
  <% } %>
  <% if (user) { %>
    <div class="add-comment">
      <form action="/posts/<%= posts._id %>/comments" method="POST">
        <textarea name="comment" id="comment-text" cols="30" rows="10" placeholder="Add comment here"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  <% } %>
</main>

<%- include('../partials/footer') %>
