<%- include('../partials/html-head') %> 
  <link rel="stylesheet" href="/stylesheets/main.css" />
<%- include('../partials/nav') %>

<main class="one-post">
  <div class="post-content">
    <h2><%= posts.topic %></h2>
    <h5><%= posts.date.toISOString().slice(0,10) %></h5>
    <img class="content-img" src="<%= posts.photo %>" alt="" />
    <p><%= posts.content %></p>
    <h4 class="author">Author: <a href="/profile/<%= posts.author._id %>"><%= posts.author.name %></a></h4>
    <h4><%= posts.location %>, <%= posts.state %></h4>
  </div>
  <% if(posts.author.equals(user?.profile._id)) { %>
  <div class="author-edit-delete">
    <a href="/posts/<%= posts._id %>/edit"><button>Edit This Post</button></a>
    <form action="/posts/<%= posts._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete This Post</button>
    </form>
  </div>
  <% } %> 
  <% if (user) { %>
    <% if (!posts.author.equals(user?.profile._id)) { %>
      <div class="savePost">
        <form action="/posts/<%= posts._id %>/saved" method="POST">
          <button type="submit">Save To List</button>
        </form>
      </div>
    <% } %>
  <div class="add-comment">
    <form class="comment-form" action="/posts/<%= posts._id %>/comments" method="POST">
      <textarea
        name="content"
        id="comment-text"
        rows="5"
        placeholder="Add comment here"
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  <% } else { %>
  <div class="add-comment">
    <p style="color: red">Please login to leave comment . . .</p>
  </div>
  <% } %> 
  <% posts.comments.forEach(comment => { %>
  <div class="comment">
    <div class="comment-author">
      <img
        src="<%= comment.author.avatar %>"
        alt="<%= comment.author.name %>'s avatar"
      />
      <p><%= comment.author.name %></p>
    </div>
    <div class="comment-text">
      <div class="comment-textarea">
        <p><%= comment.content %></p>
      </div>
      <% if (comment.author.equals(user?.profile._id)) { %>
      <div class="comment-edit-delete">
        <a href="/posts/<%= posts._id %>/comments/<%= comment._id %>/edit">
          <button>Edit this comment</button>
        </a>
        <form
          action="/posts/<%= posts._id %>/comments/<%= comment._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete this comment</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>
  <% }) %>
</main>

<%- include('../partials/footer') %>
